.phone-container {
    max-width : 400px;
    max-height: 800px;
}

.phone-case {
    background-color: white;
    border          : 3px solid #777777;
    border-radius   : 45px;
    width           : 400px;
    height          : 800px;
    display         : flex;
    flex-direction  : column;
    padding         : 8px;
    justify-content : space-around;
    align-items     : center
}

.speaker {
    background   : #c7c7c7;
    width        : 50px;
    align-self   : center;
    height       : 5px;
    border-radius: 15px;
}

.screen {
    width         : 100%;
    height        : 700px;
    border-radius : 10px;
    border        : 3px solid #c7c7c7;
    display       : flex;
    flex-direction: column;
    overflow: auto;
}

.buttons-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.buttons-container button {
    width        : 50px;
    height       : 50px;
    border       : 1px solid #c7c7c7;
    border-radius: 50%;
    cursor       : pointer;
}